html{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #05090e;
}

.above-black-bar{
    background-color: #252e39;
}

.black-bar-top{
    
    padding: 20px;
    padding-left: 0;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    height: 80px;
}



.black-bar-top h2{
    color: #fff;
    
    font-size: 14px;
    line-height: 34px;
    
    max-width: 100%;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    padding-right: 15px;
}

.provide-button{
    display: inline-block;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 3px;
    background: #00a0df;
    border: 2px solid #0090c9;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: normal;
    height: 33px;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial,sans-serif;
    -webkit-appearance: none;
    
}

.provide-button:hover{

    background: #00abee;

}

/*

    Header with Nait logo


*/

.logo-bar-top{
    background: #002d74 url(../img/starburst-bg.jpg) center center no-repeat;
    border-bottom: 3px solid #002d74;
    color: #fff;
    position: relative;
    padding: 20px 0;
    z-index: 310;
    
}

.logo-image{
    width: 1400px;
    margin: 0 auto;
}

.logo-image img{
    width: 230px;
}

.nav-right{
    float: right;
    margin-top: 10px;
    position: relative;
}

.nav-right li{
    float: left;
    list-style: none;
    margin: 0 0 0 25px;
    position: relative;
    z-index: 350;
}

.nav-right li a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 34px;
    margin-left: 0;
}

.nav-right li a:hover{
    color: #0073d1;
}

.log-in-button{
    width: 100px;
    background-color: rgb(0, 160, 223);
    border-radius: 3px;
    text-align: center;
}

.fa-search{
    width: 34px;
    height: 34px;
    font-size: 32px;
}

.log-in-button:hover{
    background-color: rgb(0, 173, 241);
}


/*
    The mini navigation below the nait logo
*/

.mini-nav-top{
    background: #f5f7fa;
    border-bottom: 1px solid #dfe2e8;
    position: relative;
}

.individual-nav{
    width: 1400px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 48px;
}

.individual-nav ul li{
    float: left;
    
    font-size: 16px;
    font-family:'News Cycle', sans-serif;;
    margin: 0;
    border-left: 1px solid #d7d7d7;
    list-style: none;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.9;
    transition: 0.5s;
}

.individual-nav ul li a{
    padding-left: 20px;
    padding-right: 20px;
    
    
    text-decoration: none;
   
}

.individual-nav ul li:hover{
    box-shadow: 10px 0px 60px rgba(0,0,0,0.3);
}



/*
    Title Part

*/

.game-programming-title{
    width: 100vw;
    font-family:'News Cycle', sans-serif;;
}

.mini-tool-bar-ontop-title{
    margin-bottom: 30px;
    margin-top: 15px;
    font-style: italic;
    font-size: 15px;
}

.container-for-left-right-blue-bar{
    display: flex;
}

.right-side-blue-bar{
    width: 400px;
    text-align: center;
    height: 100px;
}

.btn-title{
    background-color: #2777e0;
    margin-left:120px;
    margin-right:120px;
    padding-top: 8px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3px;
    color: #fff;
}

.btn-title:hover{
    background-color: #256cc9;
}

.right-side-blue-bar span{
    text-decoration: underline;
    color: #1aaae2;
    cursor:pointer;
}

.start-date{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
    
}



.start-date p{
    font-size: 15px;
    height: 20px;
    padding-top: 20px;
    margin-right: 30px;
}

.start-date h3{
    font-size: 15px;
    background-color: #234dd6;
    border-radius: 3px;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
}

.start-date h3:hover{
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    background-color: #254ac2;
}

.game-programming-title h1,
.game-programming-title h2{
    font-family: industry, sans-serif;

    font-weight: 400;

    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    width: 1000px;
}

.left-side-blue-bar h1{
    font-size: 40px;
    
    letter-spacing: -1px;
    word-spacing: 5px;
    
}

.container-for-title{
    width: 1400px;
    margin: 0 auto;
    
}

.mini-tool-bar-ontop-title ul{
    display: flex;
}


/* courses and stuff tabs */

.blue-courses-bar{
    width: 100vw;
    background-color: rgb(245, 247, 250);
}

.container-for-blue-bar{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    user-select: none;
    
}

.courses-blue,
.random-bow-change{
    width: 22%;
    margin-right: 5%;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 0px 30px -10px rgba(0,0,0,0.3);
    
    color: rgb(46, 46, 46);
    border-radius: 3px;
    padding-top: 20px;
    
}

.courses-blue{
    border-bottom: 5px solid rgb(106, 62, 152);
}
.tuition-and-fees-tab{
    border-bottom: 5px solid #f29718;
}
.how-to-apply-tab{
    border-bottom: 5px solid #3dcbbe;
}

.scholarship-tab{
    border-bottom: 5px solid #c83795;
}

.blue-nav-above-empty-box{
    padding-bottom: 20px;
    padding-top: 20px;
}

.blue-nav-above-empty-box h2{
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.blue-nav-above-empty-box p{
    font-size: 12px;
}

.last-box-blue-bar{
    margin-right: 0;
}

.courses-blue:hover,
.random-bow-change:hover{
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}


/* tuition and fees main style */

.main-content-tuition-and-fees{
    width: 100vw;
}

.container-for-main-content-tuition-and-fees{
    width: 1400px;
    margin: 0 auto;
    border-top: 5px solid #f29718;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-header{
    font-weight: bold;
    margin: 20px 0;
}

.container-for-three-div{
    padding:30px;
    
}

.three-div li span{
    font-weight: bold;
}

.elective-wywl-list{
    list-style-type: disc;
    margin-left: 30px;
}

.three-div{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.container-for-three-div{
    display: flex;
}

.main-list-header{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-for-main-content-tuition-and-fees p{
    width: 1300px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 30px;
}

/* main-content-how-to-apply    */

.main-content-how-to-apply{
    width: 100vw;
    
}

.container-for-main-content-how-to-apply{
    width: 1400px;
    margin: 0 auto;
    border-top: 5px solid #3dcbbe;
    display: flex;
    background-color: #f3f3f3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-for-main-content-how-to-apply ul li{
    list-style-type: disc;
    margin-left: 25px;
    font-size: 18px;
}

.container-for-main-content-how-to-apply ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-for-main-content-how-to-apply li span{
    font-weight: bold;
}

.container-for-main-content-how-to-apply h2{
    font-weight: bold;
    font-size: 24px;
}
.container-for-main-content-how-to-apply p{
    font-size: 18px;
}

.left-box-main-content-how-to-apply{
    font-family: 'Catamaran', sans-serif;
    padding: 30px;
}

/* Application box  */

.applicant-box-how-to-apply{
    border: 1px solid grey;
    line-height: 3;
    width: 600px;
    cursor:pointer;
}

.applicant-box-hta{
    display: flex;
    border-top: 1px solid grey;
    background-color: #fff;
}

.applicant-title{
    width: 500px;
}

.open-applicant{
    background-color: #91c432;
    color: #fff;
    text-align: center;
    width: 100px;
    font-size: 20px;
}
/*  right box how to apply    */

.two-images-in-certification{
    display: flex;
    
}
.right-box-main-content-how-to-apply{
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
}

.two-button-right-box-hta{
    display: flex;

    cursor: pointer;

}



.two-button-apply-hta:hover,
.two-button-how-to-hta:hover{
    background: linear-gradient(rgba(29, 41, 207, 0.2), rgba(26, 88, 204, 0.2));
}

.two-button-apply-hta{
    padding: 10px 15px;
    background-color: rgb(0,160,223);
    border: 2px solid #0090c9;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.two-button-how-to-hta{
    padding: 10px 15px;
    color: #00a0df;
    border: 2px solid #00a0df;
    margin-bottom: 20px;
    margin-top: 20px;
}

.top-part-right-box-hta{
    padding-bottom: 40px;
    border-bottom: 1px solid #a3a3a3;
}

.right-box-main-content-how-to-apply h3{
    font-size: 20px;
    font-weight: bold;
}


/* main content scholarship */

.main-content-scholarsip{
    width: 100vw;
    background-color: #fff;
}

.container-for-main-content-scholarship{
    width: 1400px;
    margin: 0 auto;
    border-top: 5px solid #c83795;
    padding: 30px;
    background-color: #f3f3f3;
    box-shadow: 10px 0px 20px -10px rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 20px;
}

.scholarship-awards{
    display: flex;
    background-color: #fff;
    border-radius: 3px;
    line-height: 2.5;
    padding: 0 10px;
    width: 1000px;
    font-size: 18px;
    border: 2px solid #dfdfdf;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
}

.scholar-price{
    font-family: "Montserrat", Helvetica, sans-serif;
    margin-right: 20px;
    
}



.scholarship-awards:hover{
    background-color: rgb(219, 218, 218);
    transition: 0.4s;
}

.container-for-main-content-scholarship h2{
    font-size: 24px;
    font-weight: bold;
}

.null{
    margin-bottom: 24px;
    font-size: 18px;
    width: 1037px;
    font-family: 'Catamaran', sans-serif;
}




/*
    Empty BOX
*/

.box{
    width: 960px;
    height: 600px;
    margin: 10px auto;
    background-color: #f3f3f3;
    box-shadow: 10px 0px 80px rgba(0,0,0,0.5);
    margin-top: 40px;
    margin-bottom: 40px;
}

/*

    Four Colored Boxes

*/

.four-color-boxes-container{
    Width: 100vw;
    padding: 50px 0px;
}

.outside-container-colored{
    width: 1400px;
    margin: 0px auto;
    display: flex;
    cursor: pointer;
}

.colored-box{
    width: 312px;
    
    text-align: center;
    background-color: rgb(235, 238, 244);
    padding: 15px;
    line-height: 1;
    border-bottom: solid 5px;
}

.colored-box h4{
    font-size: 20px;
    font-weight: 700px;
}

.colored-box p{
    font-size: 14px;
    color: #00a0df;
    line-height: 1.5;
    
}

.colored-box:hover{
    background-color: rgb(218, 220, 224);
}

.first-box,
.second-box,
.third-box{
    margin-right: 50px;
}

.first-box,
.second-box,
.third-box,
.four-box{
    height: 108px;
}

.first-box{
    border-color: #6a3e98;
}

.second-box{
    border-color: #f29718;
}

.third-box{
    border-color: #3dcbbe;
}
.four-box{
    border-color: #c83795;
}


/*  
        Drop Down Content
*/


.table-div{
    display: flex;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
}

.table-header{
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.colspan-1-h{
    width: 150px;
    text-align:center;
}

.colspan-3-h{
    width: 600px;
}

.colspan-2-h{
    width: 120px;
}

.capstone-colspan-2{
    width: 300px;
}

.table-cell{
   
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
    
    
    
}


.table-div:hover{
    background-color: #cecbcb;
    border-radius: 5px;
}


.drop-downs{
    
    
    background-color: rgb(245, 247, 250);
    
}

.table-content{
    width: 80%;
    margin: 0px auto;
    background-color: #3daef080;
    
    
}


.table-content-dropdown{
    padding: 0px 40px;
    /*
    display: none;
    */
    border-radius: 5px;
    max-height: 0px;
    overflow-y: hidden;
    transition: 0.5s;
}

.colspan-1{
    width: 150px;
    text-align: center;
}

.colspan-3{
    width: 600px;
}

.colspan-2{
    width: 120px;
}

.capstone-prerequisite{
    width: 300px;
}

.drop-down-for-courses{
    
    
    background-color: #f3f3f3;
    
    margin-bottom: 0px;
    
    box-shadow: 10px 0px  30px -10px rgba(0,0,0,0.5);
    border-top: 5px solid rgb(106, 62, 152);
    border-radius: 5px;
    width: 1400px;
    margin: 0 auto;
    overflow-y: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    
}

.drop-down-for-courses h4{
    width: 80%;
    
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
}

.level-one-required-course, 
.table{
    width: 80%;
    margin: 0px auto;
}

.level-one-required-course td,
.table td{
    padding-top: 20px;
    padding-left: 10px;

}

.table th{
    text-align: left;
    height: 50px;
    font-weight: bold;
}

.slider{
    transition: .5s ease-in-out;
}


.table td{
    border: 1px solid #000;
}

.dmit-1001{
    cursor: pointer;
    transition: 0.1s;
}

.dmit-1001:hover{
    background-color: #c4c3c3;
}



.dmit-1001-dropdown td{
    width: 100%;
}



/* main overview dropdown div style */

.main-courses-dropdown-div{
    overflow-y: hidden;
}

.salary-image img{
    width: 400px;
    height: 250px;
    margin: 40px 75px 0px 75px;
}
/*  container for main courses dropdown div */

.container-for-main-courses-dropdown-div{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    background-color: blue;
    padding: 20px 30px;
    
   
    
}

/*  left side overview tab  */

.left-side-main-over-dropdown{
    width: 400px;
    height: 400px;
    background-color: red;
    border-radius: 0px 0px 0px 0px;
    padding-left: 50px;
    padding-top: 40px;
    color: #fff;
    padding-right: 30px;
    margin-right: 20px;
}

.left-side-main-over-dropdown ul li{
    line-height: 3;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
    
}

.left-side-main-over-dropdown ul li:hover{
    background-color: #0090c9;
    border-radius: 3px;
}

/*  Right side overview tab */

.right-side-main-over-dropdown{
    width: 70%;
}

/*
    Information ABout the program
*/

.program-information-about-game-programming{
    width: 100vw;
    background: linear-gradient(0deg, rgba(118, 204, 238, 0.4), rgba(36, 140, 226, 0.4)), url(../img/starburst-bg.jpg);
    border-top: 2px solid #002d74;
    border-bottom: 2px solid #002d74;
    margin-top: 30px;
    
}

.container-for-program-information-about-game-programming{
    width: 1400px;
    margin: 0 auto;
    display: flex;
}

.info-for-game-programming{
    padding: 10px  10px;
    margin-right: auto;
    color: #fff;
}

.info-for-game-programming span{
    font-weight: bold;
    
}

.info-for-game-programming p{
    font-size: 18px;
}


  /*********************************************/
 /*      Style for main content OVERVIEW     */
/*******************************************/

.main-content-dropdowns{
    width: 100vw;
    background-color:#f5f7fa;
}

.container-for-main-content-dropdowns{
    width: 1400px;
    margin: 0 auto;
    
    margin-top: 15px;
}

.main-content-overview{
    display: flex;
    flex-wrap: wrap;
    max-height: 4000px;
    
    overflow-y: hidden;
}

.image-in-overview{
    background-image: url(../img/new-img-overiew.jpg);
    background-size: cover;
    width: 48%;
    height: 400px;
    margin: 35px;
    margin-left: 0px;
    box-shadow: 10px 0px 20px rgba(0,0,0,0.4);
    border: 4px solid #3f3f3f;
}

.text-main-content-overview p{
    width: 650px;
    margin: 35px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}

.share-section-overview{
    color: #7a7a7a;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #d7d7d7;
    
    width: 1300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    user-select: none;
}

.share-section-overview span{
    margin-left: 20px;
}

.share-section-overview span:hover{
    color: #bbbbbb;
    cursor: pointer;
}

.main-content-what-you-will-learn{
    width: 1037px;
    padding: 0px 50px;
    padding-left:0px;
    line-height: 2;
    font-size: 18px;
    overflow-y: hidden;
    
}

.wha-you-will-learn-list li{
    list-style-type: disc;
    margin-left: 30px;
}

.main-content-what-you-will-learn p{
    margin-bottom: 40px;
}

.main-content-what-you-will-learn h3{
    font-size: 24px;
    margin-top: 40px;
    font-weight: bold;
}

.main-content-what-you-will-learn h2{
    font-size: 32px;
    font-family: industry, sans-serif;

    font-weight: 400;

    font-style: normal;
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

.display-block{
    display: block;
}

/*

    The Overview Tabs main content styles
*/

.main-main-content{
    background-color: rgb(245, 247, 250);
    font-family: 'Catamaran', sans-serif;
}

.main-content-tabs{
    width: 100vw;
    background-color: rgb(245, 247, 250);
    padding-top: 30px;
    user-select: none;
}

.container-for-main-content-tabs{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.overview-tab,
.what-you-will-learn-tab,
.career-opportunities-tab,
.certification-tab,
.contacts-tab{
    background-color: #fff;
    border-radius: 3px 3px 0px 0px;
    margin-right: 4px;
    border: 1px solid rgb(221, 221, 221);
    border-bottom: 0px;
    padding: 8px 16px;
    cursor: pointer;
    color: #05090e;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
}

.overview-tab:hover,
.what-you-will-learn-tab:hover,
.career-opportunities-tab:hover,
.certification-tab:hover,
.contacts-tab:hover{
    background-color: rgb(0, 141, 197);
    color: #fff;
}




/*  Career Opportunities Style  */

.main-content-career-opportunities{
    font-family: 'Catamaran', sans-serif;
}

.two-boxes-career-opportunites{
    display: flex;
}

.box-left-career-op{
    
    
    width: 433px;
    padding: 15px;
    margin-right: 35px;
    font-size: 24px;
    line-height: 24px;
    color:rgb(5, 9, 14);
    
}

.box-left-career-op h3{
    margin: 0;
    margin-bottom: 24px;
    font-weight: bold;
}

.box-left-career-op p{
    font-size: 20px;
    margin-bottom: 24px;
}

.box-left-career-op ul li{
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 15px;
}

.box-right-career-op{
    width: 916px;
    font-weight: 100;
}

.box-right-career-op h3{
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.box-right-career-op p{
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 24px;
}

.box-right-career-op span{
    color: #00a0df;
    text-decoration: underline;
    cursor:pointer;
    font-weight: bold;
}

.overview-things-like-that-active{
    background-color: rgb(0, 160, 223);
    color: #fff;
    margin-bottom: -1px;
    margin-top: -1px;
}

.bottom-box-career-opportunities{
    display: flex;
}

.left-bottom-box-career-opportunities{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.left-bottom-box-career-opportunities p{
    margin-bottom: 20px;
}

.game-companies{
    border: 2px solid #e0dfdf;
    margin-bottom: -1px;
    font-size: 12px;
    border-radius: 3px;
    
    cursor:pointer;
}

.hidden-game-companies{
    
    background-color: #d1d0d0;
    width: 900px;
    overflow-y:hidden;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}



.game-companies:hover{
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    transition: 0.4s;
}

.game-companies p{
    
    
    margin: auto 0;
    
    font-size: 24px;
    text-align: center;
    line-height: 3;

    
}

.hidden-game-companies p{
    padding: 10px 15px;
}

.hidden-game-companies img{
    width: 150px;
    margin: 0 375px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.left-bottom-box-career-opportunities p{
    font-size: 20px;
    
}

.inside-list-wywl{
    
    margin-left: 40px;
    margin-bottom: 10px;
}

.inside-list-wywl li{
    list-style-type: square;
}




.left-bottom-box-career-opportunities h2{
    font-size: 24px;
    font-weight: bold;
}

.right-bottom-box-career-opportunities{
    width: 740px;
    padding: 30px;
    padding-top: 0px;
    cursor:pointer;
    
}

.right-bottom-box-career-opportunities h2{
    font-weight: bold;
}

.hidden-game-programmer-career-wik{
    max-height: 0px;
    overflow-y: hidden;
    font-size: 18px;
    padding: 0 15px;
    background-color: #dfdfdf;
    border-radius: 4px;
}

.game-programmer-career-wikepidea h3{
    font-size: 18px;
    
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 4px;
    border-radius: 4px;
    transition: 0.3s;
}

.game-programmer-career-wikepidea h3:hover{
    background-color: #d1cfcf;
    
}




/*      Certification Styles    */

.main-content-certification ul li{
    list-style-type: disc;
    text-decoration: underline;
    margin-left: 20px;
    color: #00a0df;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.main-content-certification h2{
    font-size: 32px;
    font-family: industry, sans-serif;

    font-weight: 400;

    font-style: normal;
    margin-top: 10px;
}

.main-content-certification h3{
    font-weight: bold;
}

.main-content-certification p{
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 20px;
    width: 1037px;
}

.main-content-certification{
    width: 1400px;
    margin: 0 auto;
}


.caption-cert{
    width: 652px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    
}

.caption-cert h2{
    background-color: #00a0df;
    width: 100%;
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 8px 10px;
}

.caption-cert p{
    width: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #fff;
}

.caption-cert span{
    color: #00a0df;
    text-decoration: underline;
    font-weight: bold;
    cursor:pointer;
}

.caption-cert span:hover{
    color: #008bc2;
}

.b-tech h2{
    width: 60%;
}

.left-image-certification{
    width: 48%;
    height: 400px;
    margin-right: 4%;
    background-image: url(../img/BTech_JesseTutt.jpg);
    background-size: cover;
    position: relative;
}

.right-image-certification{
    width: 48%;
    height: 400px;
    background-image: url(../img/BAISTserverwires-2018-10-1000x594.jpg);
    background-size: cover;
    position: relative;
}

/*      Contacts Styles     */

.main-content-contacts{
    width: 1400px;
    margin: 0 auto;
}

.main-content-contacts h2{
    font-family: industry, sans-serif;

    font-weight: 400;

    font-style: normal;
    font-size: 32px;
    margin-bottom: 24px;
}

.main-content-contacts p{
    line-height: 24px;
    color:#05090e;
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: bold;
}

.main-content-contacts ul li{
    list-style-type: disc;
    margin-left: 20px;
    line-height: 40px;
    font-size: 18px;
}

.main-content-contacts ul{
    margin-bottom: 24px;
}

.main-content-contacts span{
    text-decoration: underline;
    color: #0090c9;
    font-weight: bold;
    cursor: pointer;
}

/*

    Apply Now

*/

.apply-now-container{
    width: 100vw;
    background-color: #f5f7fa;
    border-top: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
}

.info-container-apply-now{
    width: 1400px;
    margin: 0px auto;
    text-align: center;
    padding: 50px 0px;
}

.button-container-apply-now{
    justify-content: center;
    display: flex;
}

.button-container-apply-now p{
    padding: 10px 15px;
    
    
}

.text-container-apply-now h2{
    font-size: 32px;
    font-weight: 400px;
    
    
}

.text-container-apply-now p{
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 24px;
}

.apply-now-btn{
    margin: 0px 20px 10px 0px;
    background-color: #94c931;
    border: solid 2px #83b02d;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

}
.apply-now-btn:hover{
    background-color: #83b02d;
}

.how-to-apply{
    border: solid 2px #1aaae2;
    color: #1aaae2;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.how-to-apply:hover{
    text-decoration: underline;
}

/*
    RELATED PROGRAMS

*/

.related-topics-container{
    width: 100vw;
    padding:50px 0px;
}

.related-topics-container h3{
    width: 1400px;
    margin: 0px auto;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.each-boxes-for-related-topics-title{
    
    height:270px;
    margin: 0 auto;
    width: 1400px;
    
}

.each-boxes-for-related-topics{
    display: flex;
    width: 1400px;
    margin: 0px auto;
    
}

.each-boxes-for-related-topics p{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #1aaae2;
    text-decoration: underline;
}

.photo-related{
    width: 237px;
    height: 148px;
    margin-bottom: 10px;
}

.related-one,
.related-two,
.related-three,
.related-four,
.related-five{
    width: 237px;
    margin-right: 49px;
    
}



/*

TOP FOOTER
*/

.top-footer{
    background-color: #002d74;
    width: 100vw;
    color: #fff;
    height: 67px;
    
}

.list-menu-top-footer{
    float: left;
}

.button-on-right-container-top-footer{
    float: right;
}

.container-for-top-footer{
    width: 1400px;
    margin: 0 auto;
    
    
}

.container-for-top-footer ul{
    
    display:flex;
    
}


.container-for-top-footer ul li{
    margin-right: 40px;
    
}



.list-menu-top-footer{
    padding: 22px 0px;
}

.btn-top-footer{
    background-color: #37b7ab;
    justify-content: end;
    padding: 0px;
    padding: 10px 15px;
    margin-top: 12px;
    margin-bottom:12px;
    border-radius:3px;
    cursor: pointer;

    
}

.btn-top-footer:hover{
    background-color: #45e2d2;
}
/*

Big blue middle footer

*/

.big-blue-footer{
    width: 100vw;
    background-color: #002968;
    
}

.big-blue-footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.box-filled-with-info{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    
}

.box-filled-with-info{
    padding: 40px 0;
    color: #fff;
    font-size: 16px;
    
}

.third{
    width: 433.3px;
    margin-right: 49.969px;
}


.numbers-in-footer{
    display: flex;
    
}

.phone-number{
    margin-right: 48px;
}

.left-box-footer p{
    font-size: 14px;
}

.view-on-map-button{
    padding: 10px 15px;
    background-color: rgb(0, 160, 223);
    border-radius: 3px;
    width: 120px;
    cursor: pointer;
}

.view-on-map-button:hover{
    background-color: rgb(0, 173, 241);
}

.middle-box-footer p{
    font-size: 14px;
}

.highlighted{
    color: #00a0df;
    font-size: 15px;
    cursor:pointer
}

.highlighted:hover{
    color: #00aef3;
}

.icons-footer p{
    margin-left: 25px;
    opacity: 0.9;
    cursor: pointer;
}

.icons-footer p:hover{
    opacity: 1;
}


/*

Bottom area footer


*/

.very-bottom-footer{
    background-color: #002968;
    padding: 15px 0;
    border-top: 1px solid #274a7e;
    
}

.very-bottom-footer-text{
    width: 1400px;
    margin: 0 auto;
    

}

.very-bottom-footer-text ul{
    display: block;
    list-style-type: disc;
    display: flex;
}

.very-bottom-footer-text ul li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    margin-right: 30px;
}



.very-bottom-footer-text ul li a{
    font-size: 14px;
    
    text-decoration: none;
    color: #cdd0d8;
    font-weight: normal;

}

.very-bottom-footer-text ul li a:hover{
    color: #b2b5be;
}

.icons-footer{
    display: flex;
    
}

.context-inside-this{
    float: right;
}

.context-inside-this p img{
    opacity: 0.9;
    cursor: pointer;
}

.context-inside-this p img:hover{
    opacity: 1;
}

.slide-down{
    max-height: 900px;
    transition: 0.5s;
}

.slide-up{
    max-height: 0px;
    transition: 0.5s;
}

.bottom-paragraph-overview p{
    font-size: 18px;
    margin: 0;
    width: 200px;
    font-weight: bold;
    height: 26px;
    margin: auto 0;
    margin-left: auto;
}

.bottom-paragraph-overview h3{
    font-size: 18px;
    width: 220px;
    color: #329df5;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    
}

.grad-employent-rate{
    display: flex;
}
.average-salary{
    display: flex;
}

.four-tabs-active-1{
    border: 0px;
    background-color: #6a3e98;
    color: #fff;
}

.four-tabs-active-1:hover{
    background-color: #56337c;
}

.four-tabs-active-2{
    border: 0px;
    background-color: #f29718;
    color: #fff;
}

.four-tabs-active-2:hover{
    background-color:  #c57c15;
}

.four-tabs-active-3{
    border: 0px;
    background-color: #3dcbbe;
    color: #fff;
}

.four-tabs-active-3:hover{
    background-color: #30a79d;
}

.four-tabs-active-4{
    border: 0px;
    background-color: #c83795;
    color: #fff;
}

.four-tabs-active-4:hover{
    background-color: #a12e79;
}

.div-that-is-display-block{
    display: block;
}
